
article {
    max-width: 50%;
}

span {
    font-weight: bolder;
}

.sticker {
    background-color: hsl(248, 32%, 49%);
    padding: 1rem 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.48); 
box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.194);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.48); 
box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.194);
}

input {
    font-weight: bolder;
    font-size: 1rem;
    padding: 1.3rem 15rem 1.3rem 2rem;
    border-radius: 0.4rem;
    border-width: 0.1px;
}
