@import "fonts";
@import "form";
@import "utils";

*, html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: url(/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  gap: 4rem;
  margin: 5rem;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3.7rem;
}

.p-info {
  font-size: 1.2rem;
  line-height: 2rem;
}

.color {
  color: hsl(0, 100%, 74%);
  color: hsl(154, 59%, 51%);
  color: hsl(248, 32%, 49%);
  color: hsl(249, 10%, 26%);
  color: hsl(246, 25%, 77%);
}

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 1440px) {
  
}
