button {
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    padding: 1.3rem;
    border-radius: 0.4rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    font-size: 1rem;
    font-weight: 700;
}

.click-btn-info {
    color: hsl(246, 25%, 77%);
    font-size: 0.9rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}
